{{define "partial:example"}}
<div class='relative mt-32'>
    <h1 class='font-primary px-4 font-extrabold text-4xl text-center text-gray-900'>Whet your appetite</h1>
    <div class='py-4 md:py-8 lg:py-12 max-w-6xl mx-auto'>
        <ul class='flex flex-wrap items-stretch justify-center md:justify-start w-full px-4 sm:px-8'>
            <li class='flex-grow-0 sm:flex-grow mx-auto my-4'>
                <a href='/recipes/sample1'>
                    <div
                        class='max-w-xs cursor-pointer border border-palette-lighter shadow-lg rounded p-4 bg-gray-50 hover:bg-palette-lighter h-full'>
                        <img class='rounded object-cover w-full h-64' width='1792' height='1024'
                            alt='tuna-meatballs-preview' src='/static/img/example_tuna_meatballs.png'>
                        <div class>
                            <div class='font-bold text-base md:text-lg pt-6 text-gray-900 font-primary'>Tuna Meatballs
                            </div>
                            <div class='text-xs text-gray-700  mb-2 sm:mb-4 font-primary'>June 30,
                                2024
                            </div>
                        </div>
                        <div class='text-sm sm:text-base text-gray-800  py-4 font-secondary'>High
                            protein,
                            straight from your pantry.</div>
                    </div>
                </a>
            </li>
            <li class='flex-grow-0 sm:flex-grow mx-auto my-4'>
                <a href='/recipes/sample1'>
                    <div
                        class='max-w-xs cursor-pointer border border-palette-lighter shadow-lg rounded p-4 bg-gray-50 hover:bg-palette-lighter h-full'>
                        <img class='rounded object-cover w-full h-64' width='1792' height='1024'
                            alt='tuna-meatballs-preview' src='/static/img/example_frittata.png'>
                        <div class>
                            <div class='font-bold text-base md:text-lg pt-6 text-gray-900 font-primary'>Egg White
                                Frittata
                            </div>
                            <div class='text-xs text-gray-700  mb-2 sm:mb-4 font-primary'>June 30,
                                2024
                            </div>
                        </div>
                        <div class='text-sm sm:text-base text-gray-800  py-4 font-secondary'>Diet friendly and
                            deliciously high in protein.</div>
                    </div>
                </a>
            </li>
            <li class='flex-grow-0 sm:flex-grow mx-auto my-4'>
                <a href='/recipes/sample1'>
                    <div
                        class='max-w-xs cursor-pointer border border-palette-lighter shadow-lg rounded p-4 bg-gray-50 hover:bg-palette-lighter h-full'>
                        <img class='rounded object-cover w-full h-64' width='1792' height='1024'
                            alt='tuna-meatballs-preview' src='/static/img/example_lettuce_wraps.png'>
                        <div class>
                            <div class='font-bold text-base md:text-lg pt-6 text-gray-900 font-primary'>Chicken Lettuce
                                Wraps
                            </div>
                            <div class='text-xs text-gray-700  mb-2 sm:mb-4 font-primary'>June 30,
                                2024
                            </div>
                        </div>
                        <div class='text-sm sm:text-base text-gray-800  py-4 font-secondary'>Refreshing, high protein
                            and low carb snack. Tons of flavor, without the calories.</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

{{end}}
