{{define "page:title"}}Lemon Cheek{{end}}

{{define "page:main"}}
{{template "partial:hero" .}}
{{template "partial:example" .}}
<!-- <p class="text-3xl font-bold underline">This is an example page. Now with landing! two</p> -->
{{end}}
