{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "page:title" .}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{block "page:meta" .}}{{end}}

    <link rel='stylesheet' href='/static/css/output.css?version={{.Version}}'>
    <link rel='icon' type='image/x-icon' href='/static/img/logo.png'>
    <script src='/static/js/htmx.min.js'></script>
    <script defer src='/static/js/alpine.min.js'></script>
</head>

<body>
    <!-- initial layout -->
    <div id='container'>
        <div class='overflow-x-hidden min-h-screen flex flex-col justify-between bg-yellow-50'>
            <div>
                {{ template "partial:nav" .}}
                <main class=' flex-grow'>
                    {{template "page:main" .}}
                </main>
            </div>
            {{template "partial:footer" .}}
        </div>
    </div>
</body>

</html>
{{end}}
